#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* typografy */
h4 {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main {
  width: 100%;
}
.form {
  max-width: 800px;
  margin: 0 auto;
}
.form input {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
.btn {
  text-transform: uppercase;
}
